body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}
a{
    text-decoration:none;
    font-size:30px;
    color:#000;
    border:2px solid #000;
    padding:40px 80px;
    font-family: sans-serif;
    letter-spacing: 2px;
    position:relative;
    transition:color 1s ease-out;
}

a::before{
    content: '';
    transition:transform 1s ;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#262626;
    transform: rotateX(90deg);
    z-index:-1;
}
a::after{
    content: '';
    transition:transform 1s ;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#262626;
    transform: rotateY(90deg);
    z-index:-1;
}
a:hover::before{
    transform:rotateX(0deg);
}
a:hover::after{
    transform:rotateY(0deg);
}
a:hover{
    color:#fff;
}